
<script type="text/javascript" src="https://www.google.com/jsapi"></script>
<script src="@routes.Assets.at("js/jquery/jquery.min.js")"></script>
<script src="@routes.Assets.at("js/jquery/jquery-ui.min.js")"></script>
<script src="@routes.Assets.at("boot/js/bootstrap.min.js")"></script>
<script src="@routes.Assets.at("js/jquery/jquery.scrollUp.min.js")"></script>
<script src="@routes.Assets.at("js/questions.js")"></script>
<script src="@routes.Assets.at("boot/js/bootstrap-select.min.js")"></script>
<script src="@routes.Assets.at("js/utilities.js")"></script>
<script src="@routes.Assets.at("js/commons.js")"></script>

<script src="@routes.Assets.at("js/ajax-solr/core/Core.js")"></script>
<script src="@routes.Assets.at("js/ajax-solr/core/AbstractManager.js")"></script>
<script src="@routes.Assets.at("js/ajax-solr/core/Parameter.js")"></script>
<script src="@routes.Assets.at("js/ajax-solr/core/ParameterStore.js")"></script>
<script src="@routes.Assets.at("js/ajax-solr/core/AbstractWidget.js")"></script>
<script src="@routes.Assets.at("js/ajax-solr/core/AbstractFacetWidget.js")"></script>
<script src="@routes.Assets.at("js/ajax-solr/managers/Manager.jquery.js")"></script>

<script src="@routes.Assets.at("js/widgets/FacetWidget.js")"></script>
<script src="@routes.Assets.at("js/widgets/CurrentSearchWidget.js")"></script>    
<script src="@routes.Assets.at("js/widgets/jquery/PagerWidget.js")"></script>
<script src="@routes.Assets.at("js/widgets/ResultWidget.js")"></script>
<script src="@routes.Assets.at("js/widgets/ChartWidget.js")"></script>
