@(request: play.api.mvc.RequestHeader, page: String)
<!DOCTYPE html>
<html lang="en">
	@sections.header(page)
<body>
	<div class="container">
		@sections.navbar("about", request)
		
		 <div class="container marketing about-section">
	
			<div class="banner-about">
				<a href="/">
	          		<img src="@routes.Assets.at("images/censo4humans-logo-small.png")" class="img-responsive-center center-block" alt="Censo 4 Humans" />
	          	</a>
	          	<p><a href="https://twitter.com/share" class="twitter-share-button center-block" data-url="http://c4h.pyxis.com.uy" 
	          			data-text="Consulta y grafica de forma amigable y eficiente los datos censales :)" 
	          			data-via="censo4humans" data-lang="es" data-related="censo4humans" 
	          			data-hashtags="censo4humans">Twittear</a></p>
			</div>
	        				
	      <div class="row">
	        <div class="col-lg-4">
			      <img src="@routes.Assets.at("images/mati.png")" class="img-circle img-responsive-center">
			      <div class="caption">
	          		<h2>Matías Fernández</h2>
	          		<p><a href="https://twitter.com/vectorns" class="twitter-follow-button" data-show-count="false" data-lang="es">Seguir a @@vectorns</a></p>
          		  </div>
	        </div><!-- /.col-lg-4 -->
	        <div class="col-lg-4">
			      <img src="@routes.Assets.at("images/gpolito.png")" class="img-circle img-responsive-center">
			      <div class="caption">
	          		<h2>Guillermo Polito</h2>
	          		<p><a href="https://twitter.com/gpolito" class="twitter-follow-button" data-show-count="false" data-lang="es">Seguir a @@gpolito</a></p>
          		  </div>
	        </div><!-- /.col-lg-4 -->
	        <div class="col-lg-4">
		      <img src="@routes.Assets.at("images/galleta.png")" class="img-circle img-responsive-center">
			      <div class="caption">
			          <h2>Guillermo Suarez</h2>
			          <p><a href="https://twitter.com/galleplop" class="twitter-follow-button" data-show-count="false" data-lang="es">Seguir a @@galleplop</a></p>
		         </div>
	         </div>
	        </div><!-- /.col-lg-4 -->
	      </div><!-- /.row -->
		
		@sections.footer()
	</div>
	@sections.scripts("")
	<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
	
	<!-- /container -->	
</body>
</html>