<!DOCTYPE html>
<html lang="en">
	
	@sections.header()
	
	<body>
		<div class="container">
	
			@sections.tabs("hogares")
	
      <div class="row">
        <div class="col-lg-1">
        </div>
        <div class="col-lg-3 header">
          <button class="btn btn-primary">Guardar Consulta</button>
          <h4>Gráfica</h4>
          <select id="chartType" class="selectpicker"></select>
          <h4>Campo</h2>
          <select id="field" class="selectpicker"></select> 
          <h4>Búsqueda Actual</h2>
          <ul id="selection" class="filter-list"></ul>
        </div>
        <div class="col-lg-8">
          <div id="piechart" style="width: 780px; height: 500px;"></div>
        </div>
      </div>

      <div class="row">
        <div class="col-lg-3">
          <h2 id="title_DPTO"></h2>
          <p class="tagcloud" id="DPTO"></p>
        </div>
        <div class="col-lg-3">
          <h2 id="title_DPTOLOC"></h2>
          <p class="tagcloud" id="DPTOLOC"></p>
        </div>
        <div class="col-lg-3">
          <h2 id="title_CCZ"></h2>
          <p class="tagcloud" id="CCZ"></p>
        </div>
        <div class="col-lg-3">
          <h2 id="title_SP_2010"></h2>
          <p class="tagcloud" id="SP_2010"></p>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-3">
          <h2 id="title_TIPO_VIVIE"></h2>
          <p class="tagcloud" id="TIPO_VIVIE"></p>
        </div>
        <div class="col-lg-3">
          <h2 id="title_HOGTE01"></h2>
          <p class="tagcloud" id="HOGTE01"></p>
        </div>
        <div class="col-lg-3">
          <h2 id="title_HOGTE02"></h2>
          <p class="tagcloud" id="HOGTE02"></p>
        </div>
        <div class="col-lg-3">
          <h2 id="title_HOGTE03"></h2>
          <p class="tagcloud" id="HOGTE03"></p>
        </div>
      </div>

      <div class="row">
        <div class="col-lg-3">
          <h2 id="title_HOGHD00"></h2>
          <p class="tagcloud" id="HOGHD00"></p>
        </div>
        <div class="col-lg-3">
          <h2 id="title_HOGHD01"></h2>
          <p class="tagcloud" id="HOGHD01"></p>
        </div>
        <div class="col-lg-3">
          <h2 id="title_HOGSH01"></h2>
          <p class="tagcloud" id="HOGSH01"></p>
        </div>
        <div class="col-lg-3">
          <h2 id="title_HOGSH02"></h2>
          <p class="tagcloud" id="HOGSH02"></p>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-3">
          <h2 id="title_HOGSH03"></h2>
          <div class="tagcloud" id="HOGSH03"></div>
        </div>
        <div class="col-lg-3">
          <h2 id="title_HOGSC01"></h2>
          <div class="tagcloud" id="HOGSC01"></div>
        </div>
        <div class="col-lg-3">
          <h2 id="title_HOGSC02"></h2>
        <div class="tagcloud" id="HOGSC02"></div>
        </div>
        <div class="col-lg-3">
          <h2 id="title_HOGCA01"></h2>
        <div class="tagcloud" id="HOGCA01"></div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-3">
          <h2 id="title_HOGCE01"></h2>
          <div class="tagcloud" id="HOGCE01"></div>
        </div>
        <div class="col-lg-3">
          <h2 id="title_HOGCE02"></h2>
          <div class="tagcloud" id="HOGCE02"></div>
        </div>
        <div class="col-lg-3">
          <h2 id="title_HOGCE03"></h2>
        <div class="tagcloud" id="HOGCE03"></div>
        </div>
        <div class="col-lg-3">
          <h2 id="title_HOGCE04"></h2>
        <div class="tagcloud" id="HOGCE04"></div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-3">
          <h2 id="title_HOGCE05"></h2>
          <div class="tagcloud" id="HOGCE05"></div>
        </div>
        <div class="col-lg-3">
          <h2 id="title_HOGCE06"></h2>
          <div class="tagcloud" id="HOGCE06"></div>
        </div>
        <div class="col-lg-3">
          <h2 id="title_HOGCE07"></h2>
        <div class="tagcloud" id="HOGCE07"></div>
        </div>
        <div class="col-lg-3">
          <h2 id="title_HOGCE08"></h2>
        <div class="tagcloud" id="HOGCE08"></div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-3">
          <h2 id="title_HOGCE09"></h2>
          <div class="tagcloud" id="HOGCE09"></div>
        </div>
        <div class="col-lg-3">
          <h2 id="title_HOGCE10"></h2>
          <div class="tagcloud" id="HOGCE10"></div>
        </div>
        <div class="col-lg-3">
          <h2 id="title_HOGCE11"></h2>
        <div class="tagcloud" id="HOGCE11"></div>
        </div>
        <div class="col-lg-3">
          <h2 id="title_HOGCE12"></h2>
        <div class="tagcloud" id="HOGCE12"></div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-3">
          <h2 id="title_HOGPR03"></h2>
          <div class="tagcloud" id="HOGPR03"></div>
        </div>
        <div class="col-lg-3">
          <h2 id="title_NBI_MAT"></h2>
          <div class="tagcloud" id="NBI_MAT"></div>
        </div>
        <div class="col-lg-3">
          <h2 id="title_NBI_HAC"></h2>
        <div class="tagcloud" id="NBI_HAC"></div>
        </div>
        <div class="col-lg-3">
          <h2 id="title_NBI_COC"></h2>
        <div class="tagcloud" id="NBI_COC"></div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-3">
          <h2 id="title_NBI_VIV"></h2>
          <div class="tagcloud" id="NBI_VIV"></div>
        </div>
        <div class="col-lg-3">
          <h2 id="title_NBI_AGUA"></h2>
          <div class="tagcloud" id="NBI_AGUA"></div>
        </div>
        <div class="col-lg-3">
          <h2 id="title_NBI_SANEA"></h2>
        <div class="tagcloud" id="NBI_SANEA"></div>
        </div>
        <div class="col-lg-3">
          <h2 id="title_NBI_ELECT"></h2>
        <div class="tagcloud" id="NBI_ELECT"></div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-3">
          <h2 id="title_NBI_CALEF"></h2>
          <div class="tagcloud" id="NBI_CALEF"></div>
        </div>
        <div class="col-lg-3">
          <h2 id="title_NBI_REFRIG"></h2>
          <div class="tagcloud" id="NBI_REFRIG"></div>
        </div>
        <div class="col-lg-3">
          <h2 id="title_NBI_CALENT"></h2>
        <div class="tagcloud" id="NBI_CALENT"></div>
        </div>
        <div class="col-lg-3">
          <h2 id="title_NBI_CONFOR"></h2>
        <div class="tagcloud" id="NBI_CONFOR"></div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-3">
          <h2 id="title_HOGCE13"></h2>
          <div class="tagcloud" id="HOGCE13"></div>
        </div>
        <div class="col-lg-3">
          <h2 id="title_HOGPR01"></h2>
          <div class="tagcloud" id="HOGPR01"></div>
        </div>
        <div class="col-lg-3">
          <h2 id="title_HOGPR02"></h2>
          <div class="tagcloud" id="HOGPR02"></div>
        </div>
        <div class="col-lg-3">
          <h2 id="title_NBI_CANTID"></h2>
          <div class="tagcloud" id="NBI_CANTID"></div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-3">
          <h2 id="title_NBI_EDUCAC"></h2>
          <div class="tagcloud" id="NBI_EDUCAC"></div>
        </div>
      </div>

      <div class="table-responsive results-table">
        <div id="navigation">
          <ul id="pager"></ul>
          <div id="pager-header"></div>
        </div>
        <table class="table table-striped table-hover table-condensed">
          <thead id="docsHeader"></thead>
          <tbody id="docsBody"></tbody>
        </table>
      </div>
	
			@sections.footer()
	
		</div>
		
		<script type="text/javascript" src="https://www.google.com/jsapi"></script>
		@sections.scripts()
	    <script src="@routes.Assets.at("boot/js/bootstrap-select.min.js")"></script>
	    <script src="@routes.Assets.at("js/utilities.js")"></script>
	    <script src="@routes.Assets.at("js/ajax-solr/core/Core.js")"></script>
	    <script src="@routes.Assets.at("js/ajax-solr/core/AbstractManager.js")"></script>
	    <script src="@routes.Assets.at("js/ajax-solr/core/Parameter.js")"></script>
	    <script src="@routes.Assets.at("js/ajax-solr/core/ParameterStore.js")"></script>
	    <script src="@routes.Assets.at("js/ajax-solr/core/AbstractWidget.js")"></script>
	    <script src="@routes.Assets.at("js/ajax-solr/core/AbstractFacetWidget.js")"></script>
	    <script src="@routes.Assets.at("js/ajax-solr/managers/Manager.jquery.js")"></script>
	    <script src="@routes.Assets.at("js/widgets/FacetWidget.js")"></script>
	    <script src="@routes.Assets.at("js/widgets/CurrentSearchWidget.js")"></script>    
	    <script src="@routes.Assets.at("js/widgets/jquery/PagerWidget.js")"></script>
	    <script src="@routes.Assets.at("js/widgets/ResultWidget.js")"></script>
	    <script src="@routes.Assets.at("js/widgets/ChartWidget.js")"></script>
	    <script src="@routes.Assets.at("js/hogares-solr.js")"></script>
	    <script type="text/javascript">
	      $(document).ready(function(){
	         for (var column in hogaresFacetDesc) {
	            $('#title_' + column).text(hogaresFacetDesc[column]);
	         }
	         $('.selectpicker').selectpicker();
	      });
	    </script>
		<!-- /container -->	
	</body>
	
</html>