@(implicit request: play.api.mvc.RequestHeader)
<!DOCTYPE html>
<html lang="en">
	
	@sections.header()
	
	<body>
		<div class="container">
	
			@sections.navbar("", request)
	
			<button class="btn btn-large btn-block" type="button"
				onclick="window.location.href='viviendas/DPTO-01_VIVVO03-7&#64;VIVVO01'">¿Cuántas
				viviendas vacías hay en Montevideo y de qué tipos?</button>
			<button class="btn btn-large btn-block" type="button"
				onclick="window.location.href='viviendas/VIVVO01-10&#64;DPTO'">¿Cuántos
				hospitales o sanatorios con internacion hay por departamento?</button>
			<button class="btn btn-large btn-block" type="button"
				onclick="window.location.href='viviendas/DPTO-01&#64;CCZ'">¿Cuántas
				viviendas atiende cada Centro Comunal en Montevideo?</button>
			<button class="btn btn-large btn-block" type="button"
				onclick="window.location.href='viviendas/VIVDV03-0_VIVVO03-1&#64;DPTO'">¿En
				cuántas viviendas, estando residentes presente en su casa al momento
				del CENSO, no brindo datos sobre la información de la vivienda por
				departamento?</button>
	
			@sections.footer()
	
		</div>
		
		@sections.scripts()
		<script type="text/javascript">
	      $(document).ready(function() {
	         $(initScrollUp);
	      }); 
	    </script>
	</body>
</html>