<!DOCTYPE html>
<html lang="en">
	
	@sections.header()
	
	<body>
		<div class="container">
	
			@sections.tabs("personas")
	
			<div class="row">
		        <div class="col-lg-1">
		        </div>
		        <div class="col-lg-3 header">
		          <button class="btn btn-primary">Guardar Consulta</button>
		          <h4>Gráfica</h4>
		      	  <select id="chartType" class="selectpicker"></select>
		          <h4>Campo</h2>
		          <select id="field" class="selectpicker"></select> 
		          <h4>Búsqueda Actual</h2>
		          <ul id="selection" class="filter-list"></ul>
		        </div>
		        <div class="col-lg-8">
		          <div id="piechart" style="width: 780px; height: 500px;"></div>
		        </div>
		      </div>
		
		      <div class="row">
		        <div class="col-lg-3">
		          <h2 id="title_DPTO"></h2>
		          <p class="tagcloud" id="DPTO"></p>
		        </div>
		        <div class="col-lg-3">
		          <h2 id="title_DPTOLOC"></h2>
		          <p class="tagcloud" id="DPTOLOC"></p>
		        </div>
		        <div class="col-lg-3">
		          <h2 id="title_CCZ"></h2>
		          <p class="tagcloud" id="CCZ"></p>
		        </div>
		        <div class="col-lg-3">
		          <h2 id="title_SP_2010"></h2>
		          <p class="tagcloud" id="SP_2010"></p>
		        </div>
		      </div>
		      <div class="row">
		        <div class="col-lg-3">
		          <h2 id="title_TIPO_VIVIE"></h2>
		          <p class="tagcloud" id="TIPO_VIVIE"></p>
		        </div>
		        <div class="col-lg-3">
		          <h2 id="title_PERPH02"></h2>
		          <p class="tagcloud" id="PERPH02"></p>
		        </div>
		        <div class="col-lg-3">
		          <h2 id="title_PERNA02MES"></h2>
		          <p class="tagcloud" id="PERNA02MES"></p>
		        </div>
		        <div class="col-lg-3">
		          <h2 id="title_PERPA01"></h2>
		          <p class="tagcloud" id="PERPA01"></p>
		        </div>
		      </div>
		      <div class="row">
		        <div class="col-lg-3">
		          <h2 id="title_PERPA02"></h2>
		          <p class="tagcloud" id="PERPA02"></p>
		        </div>
		        <div class="col-lg-3">
		          <h2 id="title_PERPA03"></h2>
		          <p class="tagcloud" id="PERPA03"></p>
		        </div>
		        <div class="col-lg-3">
		          <h2 id="title_PERER01_1"></h2>
		          <div class="tagcloud" id="PERER01_1"></div>
		        </div>
		        <div class="col-lg-3">
		          <h2 id="title_PERER01_2"></h2>
		          <div class="tagcloud" id="PERER01_2"></div>
		        </div>
		      </div>
		      <div class="row">
		        <div class="col-lg-3">
		          <h2 id="title_PERER01_3"></h2>
		          <div class="tagcloud" id="PERER01_3"></div>
		        </div>
		        <div class="col-lg-3">
		          <h2 id="title_PERER01_4"></h2>
		          <div class="tagcloud" id="PERER01_4"></div>
		        </div>
		        <div class="col-lg-3">
		          <h2 id="title_PERMI02"></h2>
		          <div class="tagcloud" id="PERMI02"></div>
		        </div>
		        <div class="col-lg-3">
		          <h2 id="title_PERMI02_1"></h2>
		          <div class="tagcloud" id="PERMI02_1"></div>
		        </div>
		      </div>
		      <div class="row">
		        <div class="col-lg-3">
		          <h2 id="title_PERMI05"></h2>
		          <div class="tagcloud" id="PERMI05"></div>
		        </div>
		        <div class="col-lg-3">
		          <h2 id="title_PERMI05_1"></h2>
		          <div class="tagcloud" id="PERMI05_1"></div>
		        </div>
		        <div class="col-lg-3">
		          <h2 id="title_PERMI07"></h2>
		          <div class="tagcloud" id="PERMI07"></div>
		        </div>
		        <div class="col-lg-3">
		          <h2 id="title_PERDI05"></h2>
		          <div class="tagcloud" id="PERDI05"></div>
		        </div>
		      </div>
		      <div class="row">
		        <div class="col-lg-3">
		          <h2 id="title_POBPCOAC"></h2>
		          <div class="tagcloud" id="POBPCOAC"></div>
		        </div>
		        <div class="col-lg-3">
		          <h2 id="title_PERFM01_R"></h2>
		          <div class="tagcloud" id="PERFM01_R"></div>
		        </div>
		        <div class="col-lg-3">
		          <h2 id="title_PERFM02_R"></h2>
		          <div class="tagcloud" id="PERFM02_R"></div>
		        </div>
		        <div class="col-lg-3">
		          <h2 id="title_PERED00"></h2>
		          <div class="tagcloud" id="PERED00"></div>
		        </div>
		      </div>
		      <div class="row">
		        <div class="col-lg-3">
		          <h2 id="title_PERED01"></h2>
		          <div class="tagcloud" id="PERED01"></div>
		        </div>
		        <div class="col-lg-3">
		          <h2 id="title_PERED02"></h2>
		          <div class="tagcloud" id="PERED02"></div>
		        </div>
		        <div class="col-lg-3">
		          <h2 id="title_PERED03_R"></h2>
		          <div class="tagcloud" id="PERED03_R"></div>
		        </div>
		        <div class="col-lg-3">
		          <h2 id="title_PERED03_1"></h2>
		          <div class="tagcloud" id="PERED03_1"></div>
		        </div>
		      </div>
		      <div class="row">
		        <div class="col-lg-3">
		          <h2 id="title_PERED03_2"></h2>
		          <div class="tagcloud" id="PERED03_2"></div>
		        </div>
		        <div class="col-lg-3">
		          <h2 id="title_PERED04_R"></h2>
		          <div class="tagcloud" id="PERED04_R"></div>
		        </div>
		        <div class="col-lg-3">
		          <h2 id="title_PERED06_R"></h2>
		          <div class="tagcloud" id="PERED06_R"></div>
		        </div>
		        <div class="col-lg-3">
		          <h2 id="title_PERED08"></h2>
		          <div class="tagcloud" id="PERED08"></div>
		        </div>
		      </div>
		      <div class="row">
		        <div class="col-lg-3">
		          <h2 id="title_NIVELEDU_R"></h2>
		          <div class="tagcloud" id="NIVELEDU_R"></div>
		        </div>
		        <div class="col-lg-3">
		          <h2 id="title_PERAL01"></h2>
		          <div class="tagcloud" id="PERAL01"></div>
		        </div>
		        <div class="col-lg-3">
		          <h2 id="title_PERAL02"></h2>
		          <div class="tagcloud" id="PERAL02"></div>
		        </div>
		        <div class="col-lg-3">
		          <h2 id="title_PERAL03"></h2>
		          <div class="tagcloud" id="PERAL03"></div>
		        </div>
		      </div>
		      <div class="row">
		        <div class="col-lg-3">
		          <h2 id="title_PERAL04"></h2>
		          <div class="tagcloud" id="PERAL04"></div>
		        </div>
		        <div class="col-lg-3">
		          <h2 id="title_PERAL05"></h2>
		          <div class="tagcloud" id="PERAL05"></div>
		        </div>
		        <div class="col-lg-3">
		          <h2 id="title_PERAL09"></h2>
		          <div class="tagcloud" id="PERAL09"></div>
		        </div>
		        <div class="col-lg-3">
		          <h2 id="title_PERAL11"></h2>
		          <div class="tagcloud" id="PERAL11"></div>
		        </div>
		      </div>
		      <div class="row">
		        <div class="col-lg-3">
		          <h2 id="title_PERAL12"></h2>
		          <div class="tagcloud" id="PERAL12"></div>
		        </div>
		        <div class="col-lg-3">
		          <h2 id="title_PERFM01"></h2>
		          <div class="tagcloud" id="PERFM01"></div>
		        </div>
		        <div class="col-lg-3">
		          <h2 id="title_PERFM01_1"></h2>
		          <div class="tagcloud" id="PERFM01_1"></div>
		        </div>
		        <div class="col-lg-3">
		          <h2 id="title_PERFM02"></h2>
		          <div class="tagcloud" id="PERFM02"></div>
		        </div>
		      </div>
		      <div class="row">
		        <div class="col-lg-3">
		          <h2 id="title_PERFM02_1"></h2>
		          <div class="tagcloud" id="PERFM02_1"></div>
		        </div>
		        <div class="col-lg-3">
		          <h2 id="title_PERDI01"></h2>
		          <div class="tagcloud" id="PERDI01"></div>
		        </div>
		        <div class="col-lg-3">
		          <h2 id="title_PERDI02"></h2>
		          <div class="tagcloud" id="PERDI02"></div>
		        </div>
		        <div class="col-lg-3">
		          <h2 id="title_PERDI04"></h2>
		          <div class="tagcloud" id="PERDI04"></div>
		        </div>
		      </div>
		
		      <div class="table-responsive results-table">
		        <div id="navigation">
		          <ul id="pager"></ul>
		          <div id="pager-header"></div>
		        </div>
		        <table class="table table-striped table-hover table-condensed">
		          <thead id="docsHeader"></thead>
		          <tbody id="docsBody"></tbody>
		        </table>
		      </div>
	
			@sections.footer()
	
		</div>
		
		<script type="text/javascript" src="https://www.google.com/jsapi"></script>
		@sections.scripts()
		<script src="@routes.Assets.at("boot/js/bootstrap-select.min.js")"></script>
	    <script src="@routes.Assets.at("js/utilities.js")"></script>
	    <script src="@routes.Assets.at("js/ajax-solr/core/Core.js")"></script>
	    <script src="@routes.Assets.at("js/ajax-solr/core/AbstractManager.js")"></script>
	    <script src="@routes.Assets.at("js/ajax-solr/core/Parameter.js")"></script>
	    <script src="@routes.Assets.at("js/ajax-solr/core/ParameterStore.js")"></script>
	    <script src="@routes.Assets.at("js/ajax-solr/core/AbstractWidget.js")"></script>
	    <script src="@routes.Assets.at("js/ajax-solr/core/AbstractFacetWidget.js")"></script>
	    <script src="@routes.Assets.at("js/ajax-solr/managers/Manager.jquery.js")"></script>
	    <script src="@routes.Assets.at("js/widgets/FacetWidget.js")"></script>
	    <script src="@routes.Assets.at("js/widgets/CurrentSearchWidget.js")"></script>    
	    <script src="@routes.Assets.at("js/widgets/jquery/PagerWidget.js")"></script>
	    <script src="@routes.Assets.at("js/widgets/ResultWidget.js")"></script>
	    <script src="@routes.Assets.at("js/widgets/ChartWidget.js")"></script>
	    <script src="@routes.Assets.at("js/personas-solr.js")"></script>
	    <script type="text/javascript">
	      $(document).ready(function(){
	         for (var column in personasFacetDesc) {
	            $('#title_' + column).text(personasFacetDesc[column]);
	         }
	         $('.selectpicker').selectpicker();
	         
	         $(function () {
				$.scrollUp({
					animation: 'fade',
					scrollImg: { active: true, type: 'background', src: 'assets/images/top.png' }
				});
			 });
	      }); 
	    </script>
		<!-- /container -->	
	</body>
	
</html>