@(request: play.api.mvc.RequestHeader)
<!DOCTYPE html>
<html lang="en">
	
	@sections.header()
	
	<body>
		<div class="container">
			
		@sections.navbar("viviendas", request)
	
		@sections.sidegraph(request)  

      <div class="row">
        <div class="col-lg-3">
          <h2 id="title_DPTO"></h2>
          <p class="tagcloud" id="DPTO"></p>
        </div>
        <div class="col-lg-3">
          <h2 id="title_DPTOLOC"></h2>
          <p class="tagcloud" id="DPTOLOC"></p>
        </div>
        <div class="col-lg-3">
          <h2 id="title_CCZ"></h2>
          <p class="tagcloud" id="CCZ"></p>
        </div>
        <div class="col-lg-3">
          <h2 id="title_SP_2010"></h2>
          <p class="tagcloud" id="SP_2010"></p>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-3">
          <h2 id="title_TIPO_VIVIE"></h2>
          <p class="tagcloud" id="TIPO_VIVIE"></p>
        </div>
        <div class="col-lg-3">
          <h2 id="title_VIVVO01"></h2>
          <p class="tagcloud" id="VIVVO01"></p>
        </div>
        <div class="col-lg-3">
          <h2 id="title_VIVVO03"></h2>
          <p class="tagcloud" id="VIVVO03"></p>
        </div>
        <div class="col-lg-3">
          <h2 id="title_VIVVO04"></h2>
          <p class="tagcloud" id="VIVVO04"></p>
        </div>
      </div>

      <div class="row">
        <div class="col-lg-3">
          <h2 id="title_VIVDV01"></h2>
          <p class="tagcloud" id="VIVDV01"></p>
        </div>
        <div class="col-lg-3">
          <h2 id="title_VIVDV02"></h2>
          <p class="tagcloud" id="VIVDV02"></p>
        </div>
        <div class="col-lg-3">
          <h2 id="title_VIVDV03"></h2>
          <p class="tagcloud" id="VIVDV03"></p>
        </div>
        <div class="col-lg-3">
          <h2 id="title_VIVDV05"></h2>
          <p class="tagcloud" id="VIVDV05"></p>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-3">
          <h2 id="title_VIVDV06"></h2>
          <div class="tagcloud" id="VIVDV06"></div>
        </div>
        <div class="col-lg-3">
          <h2 id="title_VIVDV07"></h2>
          <div class="tagcloud" id="VIVDV07"></div>
        </div>
        <div class="col-lg-3">
          <h2 id="title_VIVHV01"></h2>
        <div class="tagcloud" id="VIVHV01"></div>
        </div>
        <div class="col-lg-3">
          <h2 id="title_CATEVIV"></h2>
        <div class="tagcloud" id="CATEVIV"></div>
        </div>
      </div>
		@sections.result_table()
		@sections.footer()
	</div>

	@sections.scripts()
	
    <script src="@routes.Assets.at("js/vivienda-solr.js")"></script>
    <script type="text/javascript">
	      $(document).ready(function(){
	         for (var column in viviendaFacetDesc) {
	            $('#title_' + column).text(viviendaFacetDesc[column]);
	         }
	         $('.selectpicker').selectpicker();
	         
	         $(initScrollUp);
	      });
    </script>
	<!-- /container -->	
</body>
</html>